*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


/* 📱 RESPONSIVE */
@media (max-width: 768px) {

    .rayas{
        color: #fbfbfb !important;
    }
    .hero-50 {
        height: 65vh !important;
        padding-top: 80px;
    }

    .hero-50 h1 {
        font-size: 1.6rem;
        line-height: 1.3;
    }

    .izquierda {
        padding: 30px 20px !important;
        text-align: left;
    }

    .izquierda h3 {
        font-size: 1.5rem;
    }

    .tercero img {
        height: 250px;
        object-fit: cover;
    }

    #contacto {
        padding-bottom: 40px;
    }

    footer {
        font-size: 0.9rem;
    }
}



html{
    margin: 0;
    padding: 0;
    font-family:Georgia, 'Times New Roman', Times, serif;
    width: 100%;
    height: 100%;
}

/*cabecera*/
.hero-50 {
    height: 100vh; /* 🔥 SOLO 50% DE LA PANTALLA */
    background-image: url("imagenes/nav.webp");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

nav{
    background-color: #1b1b1b9c !important;
}

.logo{
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: #fbfbfb !important;

}

h1{
    font-family: Georgia, 'Times New Roman', Times, serif;
}

h1:hover, .logo:hover{
    color: #f09b34 !important;
    text-shadow: none;
}

.izquierda{
    background-color: #f09b34;
    text-align: justify;
    padding: 80px 80px 0px 80px !important;
}
.nosotros{
    margin: 10% !important;
}

/*tercera parte*/
.tercero {
    background-color: rgb(27, 27, 27);
}

.imagen-con-texto img {
    height: 100%;
    object-fit: cover;
}

.imagen-con-texto a {
    transition: transform 0.3s ease;
    display: inline-block;
}
.imagen-con-texto::after {
    content: "";
    position: absolute;
    inset: 0;
}


.imagen-con-texto:hover a {
    transform: scale(1.2);
    font-weight: 700;
    color: #fbfbfb;
}

.primer-lado{
    background-color: #313030;
}

.input-email{
    width: 100% !important;
}


.redes{
    background-color: #313030 !important;
}
/*Css de footer*/

footer{
    background-color: #1b1b1bbb !important;
    position: relative; 
    left: 0;
    bottom: 0;
    width: 100%; 
    color: white;
    text-align: center;
    z-index: 999;
}   




